#slider {
  display: flex;
  height: 100px;
  transition: transform 550ms cubic-bezier(.6,0,.3,1) 0ms;
  transform: translate(0%, 0px);
  /*transform: translate3d(0%, 0px, 0px); Uncomment if HA needed*/
}

.wrap {
  overflow-x: hidden;
}

.box {
  width: 100%;
  overflow: auto;

  flex-shrink: 0;
  -ms-flex-negative: 0;
}

.inner-box {
  min-height: 70px; /*fit container height + padding*/
  padding: 15px;
  color: #fff;
}

.tab1 {
  background-color: #ffb104;
}

.tab2 {
  background-color: #4a73dd;
}

.tab3 {
  background-color: #ff6a92;
}


/*
 BUTTON STYLE
 */
button {
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  padding: 0 12px;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 0;
  outline: none;
}

button.active {
  font-weight: bold;
  color: white;
  background-color: #333;
}
