body {
  padding: 0;
  padding: 100px;
  margin: 0;
  font-family: Open Sans, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

.go-back {
  color: #333;
  font-family: 'Luckiest Guy', 'Helvetica Neue', Arial, sans-serif, cursive;
  background-color: #ed3264;
  padding: 7px 5px 0 5px;
  text-decoration: none;
}

.go-back:hover {
  color: white;
}
